* {
  font-family: "Rubik";
  color: aliceblue;
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

.question {
  display: flex;
  height: 25vh;
  align-items: flex-end;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.pictures {
  display: flex;
  justify-content: space-around;
  gap: 4%;
  padding: 7%;
}

.film {
  height: 35vh;
}
