<div class="question">
  <h1>Question 3 :</h1>
</div>
<div class="text">
  <p>Quel film de Francis FORD COPPOLA aborde le thème de la mafia ?</p>
</div>
<div class="all">
  <div class="pictures">
    <div>
      <img
        class="film"
        src="../../assets/apocalypse-now.jpg"
        alt="affiche film apocalypse now"
      />
    </div>
    <div>
      <img
        class="film"
        src="../../assets/dracula.jpg"
        alt="affiche film Dracula"
      />
    </div>
    <div>
      <a [routerLink]="['/result']">
        <img
          class="film"
          src="../../assets/le_parrain.jpg"
          alt="affiche film le parrain"
        />
      </a>
    </div>
  </div>
</div>
