<div class="question">
  <h1>Question 2 :</h1>
</div>
<div class="text">
  <p>Quel guitariste a donné un prénom à chacunes de ses guitares ?</p>
</div>
<div class="all">
  <div class="pictures">
    <div>
      <a [routerLink]="['/three']">
        <img
          class="film"
          src="../../assets/Sheeran.jpg "
          alt="affiche film apocalypse now"
        />
      </a>
    </div>
    <div>
      <a [routerLink]="['/three']">
        <img
          class="film"
          src="../../assets/cabrel.jpg"
          alt="affiche film le parrain"
        />
      </a>
    </div>
    <div>
      <a [routerLink]="['/three']">
        <img
          class="film"
          src="../../assets/elvis.jpg"
          alt="affiche film Dracula"
        />
      </a>
    </div>
  </div>
</div>