<div class="question">
  <h1>Question 1 :</h1>
</div>
<div class="text">
  <p>Quel personnage invente les pire pizzas ?</p>
</div>
<div class="all">
  <div class="pictures">
    <div>
      <a [routerLink]="['/two']">
        <img
          class="film"
          src="../../assets/raphaello.jpeg"
          alt="affiche film apocalypse now"
        />
      </a>
    </div>
    <div>
      <a [routerLink]="['/two']">
        <img
          class="film"
          src="../../assets/michelangelo.jpg"
          alt="affiche film le parrain"
        />
      </a>
    </div>
    <div>
      <a [routerLink]="['/two']">
        <img
          class="film"
          src="../../assets/donatello.webp"
          alt="affiche film Dracula"
        />
      </a>
    </div>
    <div>
      <a [routerLink]="['/two']">
        <img
          class="film"
          src="../../assets/leonardo.jpg"
          alt="affiche film Dracula"
        />
      </a>
    </div>
  </div>
</div>
